<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web-app1</display-name>
  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>com.demo.web.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet2</display-name>
    <servlet-name>MyServlet2</servlet-name>
    <servlet-class>com.demo.web.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHttpServlet</display-name>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.demo.web.MyHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormProcessServlet</display-name>
    <servlet-name>FormProcessServlet</servlet-name>
    <servlet-class>com.demo.web.FormProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormProcessServlet</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.demo.web.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>com.demo.web.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/failure</url-pattern>
  </servlet-mapping>
</web-app>